@import "consts/consts";

.item {
    margin-top: $mediumOffset;
    display: flex;
    align-items: center;
    justify-content: end;

    & > * {
        margin-left: $smallOffset;
        height: 40px;

        &:first-child {
            margin-left: 0;
        }
    }

    .link {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $lightGray;
        transition: .1s;
        padding-right: $smallOffset;
        display: flex;
        align-items: center;
        text-decoration: none;

        .ownerIcon {
            width: 30px;
            height: 30px;
            border-radius: $smallOffset;
            margin-right: $smallOffset;
        }

        .repoItemLinkName {
            font-size: 12px;
            color: $gray;
            text-decoration: none;
            transition: .1s;
        }

        .repoOwner {
            font-size: 14px;
            color: $lightGray;
            transition: .1s;
        }

        &:hover {
            .repoItemLinkName {
                color: $lightGray;
            }

            .repoOwner {
                color: $white;
            }
        }
    }

    .gitLink {
        border: 1px dotted $markRedLight;
        height: 40px;
        width: 70px;

        &:hover {
            border: 1px dotted $markBlueLight;
        }
    }

    .stars {
        min-width: 13%;
        max-width: 13%;
    }

    .commit {
        min-width: 35%;
        max-width: 35%;
    }
}